* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(106, 171, 231);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

header {
    color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header nav {
    margin: 0;
}

header h1 {
    padding: 25px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    list-style: none;
}

header nav ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin: 15px;
}

header nav ul li a {
    color: black;
}

header nav ul li a:hover {
    background: rgb(224, 156, 233);
    color: black;
}

.about-me h2 {
    display: flex;
    justify-content: center;
}

.about-me p {
    display: flex;
    justify-content: center;

}

.my-projects {
    display: flex;
    justify-content: center;
}

.my-projects h2 {
    display: flex;
    justify-content: center;
    border-bottom: 3px solid;
}

.my-projects p {
    display: flex;
    justify-content: space-around;
    border: 1px solid;
}

.project p {
    display: flex;
    justify-content: space-around;
    border: 1px solid;
    border-radius: 20px;
}

.html {
    padding: 40px 50px;
}

.html:hover{
    background-color: rgb(224, 156, 233);
}

.java {
    padding: 20px 50px;
}

.java:hover {
    background-color: rgb(224, 156, 233);
}

.node {
    text-align:;
}

.node:hover {
    background-color: rgb(224, 156, 233);
}

.express {

}

.express:hover {
    background-color: rgb(224, 156, 233);
}

.sql {

}

.sql:hover {
    background-color: rgb(224, 156, 233);
}

.contact-info {
    display: flex;
    justify-content: space-around;
}