* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(106, 171, 231);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

header {
    color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header nav {
    margin: 0;
}

header h1 {
    padding: 25px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    list-style: none;
}

header nav ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin: 15px;
}

header nav ul li a {
    color: black;
}

header nav ul li a:hover {
    background: rgb(224, 156, 233);
    color: black;
}

.about-me div {
    text-align: center;
}

.about-me h2 {
    display: inline;
    margin: auto;
}

.about-me p {
    display: inline-block;
    margin: 50px;
}

.about-me img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.my-projects {
    display: flex;
    justify-content: center;
}

.my-projects h2 {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.project button {
    color: black;
    border: 1px solid;
    opacity: 1;
}

.project button:hover {
    background-color: transparent;
    opacity: .75;
}

.html {
    padding: 50px;
    background-image: url(./assets/images/hero-bg.jpg);
    background-size: cover;
    width: 100%;
}

.java {
    padding: 20px;
    background-image: url(./assets/images/java.jpg);
    background-size: cover;
    width: 100%;
}

.node {
    padding: 20px;
}

.express {
    padding: 20px;
}

.sql {
    padding: 20px;
}

.contact-info {
    display: flex;
    justify-content: space-around;
}
